body{
    background: rgb(20 133 181);
    font-size: 40px;

}

header{
    height: 180px;
    width: 100%;
    border: 2px solid red;
}

li{
    display: inline;
}

h1{
    font-size:60px; 
}

button{
    height:100px;
    width: 200px;
    

}
